argon2-cffi==19.1.0
bcrypt==3.1.6
certifi==2018.11.29
cffi==1.11.5
ChatterBot==1.0.3
chatterbot-corpus==1.2.0
Django==2.1.5
django-bootstrap3==11.0.0
django-braces==1.13.0
django-debug-toolbar==1.11
Faker==1.0.1
mathparse==0.1.2
misaka==2.1.1
nltk==3.4
Pillow==5.4.1
Pint==0.9
pycparser==2.19
pymongo==3.7.2
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
singledispatch==3.4.0.3
six==1.12.0
SQLAlchemy==1.2.18
sqlparse==0.2.4
text-unidecode==1.2
wincertstore==0.2
